/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

// FONTS

@import '../fonts/Futura/Futura-Bold.css';
@import '../fonts/Futura/Futura-Medium.css';

$font1:'Futura-Medium',arial,sans-serif;
$font2:'Futura-Bold',arial,sans-serif;
$font3:Georgia,serif;

$dblue:#006973;
$lblue:#008C99;
$grey:#A7ACAF;
$lgrey:#EFEFEF;

%mob-width-100 {
	@media screen and (max-width:770px) {
		width:100% !important;
		padding:0 !important;
	}
}

// SORT TYPES

body {
	font-family:$font3;
	text-align:center;
	font-size: 1em;
	line-height:1.7em;
	background:$lgrey;
	&.type_2 {
		background-color:$lblue;
	}
}

%base {
	max-width:1200px;
	margin:auto;
	box-sizing:border-box;
	font-family:$font3;
	@media screen and (max-width:770px) {
		padding:1em;
	}
}

.white_wrap {
	background:#fff;
}


.home {
	.type_0 & {display: block}
	.type_1 & {display:none}
	.type_2 & {display: none}
	.nav {
		display: none;
	}
	p.next {
		// font-style: italic;
		font-family: $font1;
		font-size: 1.2em;
		cursor: pointer;
		background:$lblue;
		color:#fff;
		display: inline-block;
		padding:16px 32px; 	
	}
}

.quiz {
	.type_0 & {display:none}
	.type_1 & {display: block}
	.type_2 & {display: none}
}

.results {
	.type_0 & {display: none}
	.type_1 & {display: none}
	.type_2 & {display: block}
}

.header_bar {
	@extend %base;
	padding:16px 16px 8px;
	background:#fff;
	overflow:hidden;
	@media screen and (max-width:770px) {
		padding:16px 16px 0;
	}
	.logo { 
		float: right;
		@media screen and (max-width:770px) {
			width: 64px;
			margin-bottom: 8px;
		}
		img {
			max-width: 100%;
		}
	}
}

.top {
	@extend %base;
	padding:0 16px 16px;
	background:#fff;
	position:relative;

	.header {
		font-family:$font2;
		font-size: 4em;
		line-height: 1em;
		margin-bottom: 16px;
		@media screen and (max-width:770px) {
			font-size: 2em;
		}
	}
	.subtitle {
		font-family: $font1;
		font-size: 1.2em;
		color:$grey;
		text-transform: uppercase;
		margin-bottom: 40px;
		@media screen and (max-width:770px) {
			font-size: 0.9em;
			margin-bottom:16px;
		}
	}

	.nav {
		overflow: hidden;
		width:100%;
		margin-bottom:-60px;
		div {
			width:64px;
			cursor: pointer;
			img {
				max-width: 100%;
			}
		}
		@media screen and (max-width:770px) {
			margin-bottom:-40px;
			div {
				width:32px;
				img {
					max-width:100%;
				}
			}
		}
		.next {
			float:right;
			&.hide {
				display: none;
			}
		}
		.prev {
			float:left;
		}
	}

	.results & {
		// results top rules
		.result_blocks {
			overflow: hidden;
			
			.section {
				width:50%;
				float:left;
				box-sizing:border-box;
				@extend %mob-width-100;
				&._1 {
					padding-right:50px;
				}
				&._2 {
					padding-left:50px;
				}
				h3 {
					color:$grey;
					font-family: $font1;
					text-transform: uppercase;
					span.bold {
						color:#000;
					}
				}
				h2 {
					color:#000;
					font-family: $font2;
					font-size: 3em;
					line-height: 1.7em;
				}
				.result_txt {
					p {
						margin:16px 0;
					}
				}
				p.stat {
					font-family: $font1;
					margin:40px 0;
					font-size: 2em;
					line-height: 1.3em;
					.txt {
						font-size: 0.8em;
						line-height: 1em;
					}
					.source {
						display: block;
						text-align: right;
						font-weight: 100;
						// padding-left: 20px;
						font-size: 0.5em;
					}
					

				}				
			}

			.dial {
				%show_chart {
					display:block;
				}
				
				img {
					display: block;
				    max-width: 100%;
				    margin: auto;
				}
				.chart {
					display: none;
				}
				&._1 {
					.chart._1 { @extend %show_chart}
				}
				&._2 {
					.chart._2 { @extend %show_chart}
				}
				&._3 {
					.chart._3 { @extend %show_chart}
				}
				&._4 {
					.chart._4 { @extend %show_chart}
				}
				&._5 {
					.chart._5 { @extend %show_chart}
				}

				.arrow {
					margin-top: -100px;
					@include transform(rotate(0deg));
					@include transition-duration(1.5s);
				}
			}

		}
	}
}

.bottom {

	@extend %base;
	padding:0 16px;

	.question {
		display: table;
		font-size:1.3em;
		line-height: 1.5em;
		margin:60px auto;
		max-width: 700px;
		height:96px;
		@media screen and (max-width:770px) {
			margin:30px auto;
			height:186px;
		}
		.inner {
			display: table-cell;
			vertical-align: middle;
		}

	}

	%box-color {
		background:$lblue;
		color:#fff;
	}

	.selector_wrap {
		max-width: 900px;
		margin:auto;
		font-family: $font2;
		.selector {
			border:1px solid #000;
			border-right:0;
			overflow: hidden;
	
			.box {
				box-sizing: border-box;
				width:20%;
				float:left;
				border-right:1px solid #000;
				line-height: 48px;
				cursor: pointer;
				background:#fff;
				@include transition(all 0.1s);
			}
 
			&._1, &.temp_1 {
				.box:nth-child(-n+1) {
					@extend %box-color;
				}
			} 
			&._2, &.temp_2 {
				.box:nth-child(-n+2) {
					@extend %box-color;
				}
			} 
			&._3, &.temp_3 {
				.box:nth-child(-n+3) {
					@extend %box-color;
				}
			} 
			&._4, &.temp_4 {
				.box:nth-child(-n+4) {
					@extend %box-color;
				}
			} 
			&._5, &.temp_5 {
				.box:nth-child(-n+5) {
					@extend %box-color;
				}
			}

			&.halt {
				.box {
					background:#fff !important;
					color:#000 !important;
				}
			} 
		}
		.labels {
			overflow: hidden;
			text-transform: uppercase;
			.left {
				float:left;
			}
			.right {
				float: right;
			}
		}
	}

	.cta_wrap {
		color:#fff;
		h2 {
			font-family: $font2;
			font-size: 1.5em;
			line-height: 1.7em;
			margin:16px 0;
		}
		p {
			max-width: 900px;
			margin:40px auto;

			font-family: $font1;
			a {
				color:#fff;
			}
		}
	}
}

.cta-text {
	font-size:2em;
	@media screen and (max-width:570px) {
		font-size: 1.5em;
	}
	
	h3 {
		color:$grey;
		font-family: $font1;
		text-transform: uppercase;
		span.bold {
			color:#000;
		}
	}
	h2.result_title {
		color:#000;
		font-family: $font2;
		font-size: 3em;
		line-height: 1.7em;
		@media screen and (max-width:425px) {
			font-size: 2em;
		}
	}
	.text {
		max-width:900px;
		margin:auto;
		h2 {
			line-height: 1.2em;
			margin:32px 0 32px;
			font-family: $font1;
		}
		p {
			font-size: 0.7em;
			margin:16px 0;
		}	
	}
}
.thanks {
	color:$lblue;
	&.hide {
		display: none;
	}
}
.form {
	font-family: $font1;
	margin:32px 0;
	form {
		display: inline-block;
		&.hide {
			display: none;
		}
	}
	p {
		margin:16px 0;
	}
	label {
		width:150px;
		display: inline-block;
		text-align: left;
		font-size: 1.1em;
	}
	input {
		&#tel,&#name,&#email {
			width:200px;
			line-height: 1.5em;
			padding:8px 16px;
			font-size: 1em;
			font-family: $font1;
			border:1px solid $grey;
			color:$lblue;
		}
		&#submit {
			font-family: $font1;
			font-size: 1em;
			cursor: pointer;
			background:$lblue;
			color:#fff;
			display: inline-block;
			padding:16px 32px;
			border:0;
			margin:20px 0;
		}
	}
}

.findoutmore {
	font-family: $font1;
	font-size: 1em;
	cursor: pointer;
	background:$lblue;
	color:#fff;
	display: inline-block;
	padding:16px 32px;
	border:0;
	margin:20px 0;
	text-decoration: none;
}


// PRGRESS BAR

.progress {

	position:absolute;
	width:100%;
	bottom:0;
	@media screen and (max-height:782px) {
		position:relative;
		margin-top: 40px;
	}
	@media screen and (max-height:736px) and (max-width:414px) {
		position:absolute;
		width:100%;
		bottom:0;
		margin:0;
	}
	@media screen and (max-height:650px) and (max-width:414px) {
		position:relative;
		margin-top: 40px;
	}
	// @media screen and (max-width:770px) {
	// 	position:relative;
	// 	margin-top: 40px;
	// }	
}
.section {
	h3 {
		color:#fff;
		font-family: $font2;
		font-size: 1.1em;
		line-height: 48px;
		@media screen and (max-width:770px) {
			line-height: 40px;			
		}	
	}
	@media screen and (max-width:440px) {
		border-bottom:1px;
		.section_title {
			display: none;
		}
	}
	&.left {
		float:left;
		width:14/29*100%;
		border-color:$dblue;
		// @extend %mob-width-100;
		.section_title {
			background:$dblue;
		}
		.block {
			width:1/14*100%;
			._1 & {&:nth-child(-n+1) {@extend %block_style}}
			._2 & {&:nth-child(-n+2) {@extend %block_style}}
			._3 & {&:nth-child(-n+3) {@extend %block_style}}
			._4 & {&:nth-child(-n+4) {@extend %block_style}}
			._5 & {&:nth-child(-n+5) {@extend %block_style}}
			._6 & {&:nth-child(-n+6) {@extend %block_style}}
			._7 & {&:nth-child(-n+7) {@extend %block_style}}
			._8 & {&:nth-child(-n+8) {@extend %block_style}}
			._9 & {&:nth-child(-n+9) {@extend %block_style}}
			._10 & {&:nth-child(-n+10) {@extend %block_style}}
			._11 & {&:nth-child(-n+11) {@extend %block_style}}
			._12 & {&:nth-child(-n+12) {@extend %block_style}}
			._13 & {&:nth-child(-n+13) {@extend %block_style}}
			._14 & {@extend %block_style}
			._15 & {@extend %block_style}
			._16 & {@extend %block_style}
			._17 & {@extend %block_style}
			._18 & {@extend %block_style}
			._19 & {@extend %block_style}
			._20 & {@extend %block_style}
			._21 & {@extend %block_style}
			._22 & {@extend %block_style}
			._23 & {@extend %block_style}
			._24 & {@extend %block_style}
			._25 & {@extend %block_style}
			._26 & {@extend %block_style}
			._27 & {@extend %block_style}
			._28 & {@extend %block_style}
			._29 & {@extend %block_style}
		}
	}
	&.right {
		float:right;
		width:15/29*100%;
		border-color:$lblue;
		// @extend %mob-width-100;
		.section_title {
			background:$lblue;
		}
		.block {
			width:1/15*100%;
			._15 & {&:nth-child(-n+1) {@extend %block_style}}
			._16 & {&:nth-child(-n+2) {@extend %block_style}}
			._17 & {&:nth-child(-n+3) {@extend %block_style}}
			._18 & {&:nth-child(-n+4) {@extend %block_style}}
			._19 & {&:nth-child(-n+5) {@extend %block_style}}
			._20 & {&:nth-child(-n+6) {@extend %block_style}}
			._21 & {&:nth-child(-n+7) {@extend %block_style}}
			._22 & {&:nth-child(-n+8) {@extend %block_style}}
			._23 & {&:nth-child(-n+9) {@extend %block_style}}
			._24 & {&:nth-child(-n+10) {@extend %block_style}}
			._25 & {&:nth-child(-n+11) {@extend %block_style}}
			._26 & {&:nth-child(-n+12) {@extend %block_style}}
			._27 & {&:nth-child(-n+13) {@extend %block_style}}
			._28 & {&:nth-child(-n+14) {@extend %block_style}}
			._29 & {&:nth-child(-n+15) {@extend %block_style}}
		}
	}
	
	.block_wrap {
		border-top:1px solid;
		border-left:1px solid;
		border-color:inherit;

		%block_style {
			background-color: #CCE8EB;
			cursor: pointer;
		}

		.block {
			border-right:1px solid;
			border-color:inherit;
			height:30px;
			float:left;
			box-sizing:border-box;
			background:#fff;
			color:#000;
			@media screen and (max-width:770px) {
				height: 16px;			
			}
		}
	}
}
